*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #2979c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

nav{
    width: 100%;
    background-color: #034a89;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-shadow: 0 0 5px black;
    top: 0px;
}

.logo h1 a{
color: white;
text-decoration: none;
}
.logo h1 a:hover{
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

nav ul{
    display: flex;
    gap: 1rem;
    transition: all 0.5s;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 0.3rem;
    border-radius: 3px;
    transition: 0.2s;
}

nav ul li a:hover{
    color: #034a89;
    background-color: white;
}

nav .menu-icon{
    display: none;
}

nav .menu-icon i{
    font-size: larger;
    color: #fff;
}


@media (max-width:600px){

    nav ul{
        width: 100%;
        flex-direction: column;
        position: absolute;
        top:3rem;
        background-color: #034a89;
        left: 0;
    }

    .menu-list{
        left: 100%;
    }

    nav ul li{
        padding: 1rem;
        text-align: center;
    }

    nav ul li:hover{
        background-color: #fff;
    }

    nav ul li:hover a{
        color: #034a89;
        box-shadow: 0 0 5px #000;
    }

    nav .menu-icon{
        display: block;
    }
    
}